.bpYhOC{
    overflow: scroll !important;
}
.wQjMK{
    overflow: scroll !important;
}

@media (max-width: 1024px) {
    .responsive-margin {
      margin-left: 145px;
    }
    .powerbutton{
        left: 45px !important;
    }
    .mobile-display-none{
        display: none !important;
    }
    .gzQxeA{
        left: 70px !important;
        top:7rem !important;
    }
    .QMTSb{
        display: none;
    }
    .jtPfJl{
        top:3rem !important;
    }
    .IDaRI{
        flex-direction: column !important;
    }
    .jqxwLc{
        flex-direction: column !important;
        background-color: white !important;
    }
    .iANcsA{
        margin-top: 100px;
        width: 42vw !important;
    }
    .IDaRI{
        background-color: white !important;
    }
    .OwENK{
        left: 20px !important;
    }
    .color-red{
        color: red;
    }
    .image{
        display: none;
    }
    .jtPfJl{
        height: 600px !important;
        overflow-y: scroll;
        margin-bottom: 50px;
    }
    .jSTayc{
        margin-top: 100px;
        width: 42vw !important;

    }
    
  }
  @media (max-width: 767px) {
    .mobile-display-none2{
        display: none;
    }
    .image{
        display: block;
        margin: 75px;
    }
    .image img{
        width: 250px;
        height: 300px;
        position: absolute;
        z-index: 10;
    }
    .image p{
        z-index: 10;
        position: absolute;
        margin-top: 315px;
        color: brown;
        font-size: 25px;
        background: antiquewhite;
    }
    
  }
  @media (min-width: 768px) {
    .image {
      display: none;
    }
  }